$brand-color: #3f78e0;
#banner {
  position: relative;
  .banner_img {
    img {
      width: 100%;
      height: fit-content;
    }
    ul {
      position: absolute;
      display: flex;
      gap: 5px;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      li {
        font-size: 0;
        button {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: none;
        }
      }
      .slick-active {
        button {
          background: $brand-color;
        }
      }
    }
  }
  .container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    h1 {
      width: fit-content;
      margin: 0 auto;
      font-family: "Space Grotesk", sans-serif;
      font-size: 60px;
      font-weight: 700;
      background-clip: text;
      background-image: linear-gradient(
        to right,
        $brand-color,
        #ffffff,
        orange,
        yellow,
        green,
        $brand-color
      );
      color: transparent;
      &:nth-child(2) {
        margin-left: 379px;
      }
    }
    img {
      &:nth-child(3) {
        position: absolute;
        top: 25%;
        left: 50%;
      }
      &:nth-child(4) {
        position: absolute;
        top: 25%;
        left: 49%;
      }
      &:nth-child(5) {
        position: absolute;
        top: 24%;
        left: 50%;
      }
    }
    p {
      width: 701px;
      margin: 38px auto;
      text-align: center;
      font-family: "Space Grotesk", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
    .project {
      text-align: center;
      a {
        position: relative;
        border: 2px solid #3f78e0;
        padding: 22px 30px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #ffffff;
        border-radius: 8px;
        transform: translateX(-50%);
        &:hover>span {
             animation: project_span linear infinite;
             animation-duration: 0.5s;
          }
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $brand-color;
          z-index: -1;
        }
      }
       @keyframes project_span {
            100%{
              rotate: 360deg;
            }
          }
       
    }
  }
}
// @-webkit-keyframes project_span{
//           100%{
//             -webkit-transform: rotate(360deg);
//           }
//         }
//         @-moz-keyframes project_span{
//           100%{
//             -webkit-transform: rotate(360deg);
//           }
//         }
//         @keyframes project_span {
//           100%{
//             -webkit-transform: rotate(360deg);
//           }
//         }
