@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Vidaloka&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
.container {
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
